Outliers

 (a) Wont creating upper and lower bounds for outliers still make them close to outliers ?
 
 (b) Unable to treat outliers with 90th percentile trnaformation. 'SettingWithCopy' Warning. See below
 
 (c) Replace outliers with logarithm transformations

In [68]:
%matplotlib notebook
#Jupyter Notebook with Matplotlib Inline
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib as plt
from sklearn.model_selection import train_test_split

In [73]:
#read the cleaned datasets
train = pd.read_csv("train.csv", delimiter=',') 
test = pd.read_csv("test.csv", delimiter=',')
z = train.copy(deep=True)
df = z.copy(deep = True)
df_duration_yes = z.copy(deep = True)
df_duration_no = z.copy(deep = True)
df_duration_bounds = z.copy(deep = True)

In [74]:
numerical = ['age','duration','dcontacts','pdays','pcontacts','evr','cpi','cci','euribor','employees']
z_normalized = z.copy(deep = True)
z_standardized = z.copy(deep = True)

df_normalized = df.copy(deep = True)
df_standardized = df.copy(deep = True)

df_duration_yes_normalized = df_duration_yes.copy(deep = True)
df_duration_yes_standardized = df_duration_yes.copy(deep = True)

df_duration_no_normalized = df_duration_no.copy(deep = True)
df_duration_no_standardized = df_duration_no.copy(deep = True)

df_duration_bounds_normalized = df_duration_bounds.copy(deep = True)
df_duration_bounds_standardized = df_duration_bounds.copy(deep = True)

In [20]:
duration_uq = int(z['duration'].quantile(0.99))
duration_lq = int(z['duration'].quantile(0.01))

dcontacts_uq = int(z['dcontacts'].quantile(0.99))
dcontacts_lq = int(z['dcontacts'].quantile(0.01))

pdays_uq = int(z['pdays'].quantile(0.99))
pdays_lq = int(z['pdays'].quantile(0.01))

pcontacts_uq = int(z['pcontacts'].quantile(0.99))
pcontacts_lq = int(z['pcontacts'].quantile(0.01))

evr_uq = int(z['evr'].quantile(0.99))
evr_lq = int(z['evr'].quantile(0.01))

cpi_uq = int(z['cpi'].quantile(0.99))
cpi_lq = int(z['cpi'].quantile(0.01))

cci_uq = int(z['cci'].quantile(0.99))
cci_lq = int(z['cci'].quantile(0.01))

euribor_uq = int(z['euribor'].quantile(0.99))
euribor_lq = int(z['euribor'].quantile(0.01))

employees_uq = int(z['employees'].quantile(0.99))
employees_lq = int(z['employees'].quantile(0.01))

In [ ]:
# .....4(a).....
# Replacing outliers with upper and lower bounds       
def age_outliers(x):
    if x['age'] < 23 and x['age'] > 0: return 23
    elif x['age'] > 71 and x['age'] < 78: return 71 # median
    elif x['age'] > 78 and x['age'] < 83: return 81
    elif x['age'] > 83 and x['age'] < 100: return 86
    else: return x['age']

z['age'] = z.apply(age_outliers, axis=1)

In [79]:
# .....4(b).....
# Replacing outliers with 99 and 1 percentile
def duration_outliers(x):
    if x['duration'] < duration_lq: return duration_lq
    elif x['duration'] > duration_uq: return duration_uq
    else: return x['duration']

z['duration'] = z.apply(duration_outliers, axis=1)

def dcontacts_outliers(x):
    if x['dcontacts'] < dcontacts_lq: return dcontacts_lq
    elif x['dcontacts'] > dcontacts_uq: return dcontacts_uq
    else: return x['dcontacts']

z['dcontacts'] = z.apply(dcontacts_outliers, axis=1)

def pdays_outliers(x):
    if x['pdays'] < pdays_lq: return pdays_lq
    elif x['pdays'] > pdays_uq: return pdays_uq
    else: return x['pdays']

z['pdays'] = z.apply(pdays_outliers, axis=1)

def pcontacts_outliers(x):
    if x['pcontacts'] < pcontacts_lq: return pcontacts_lq
    elif x['pcontacts'] > pcontacts_uq: return pcontacts_uq
    else: return x['pcontacts']

z['pcontacts'] = z.apply(pcontacts_outliers, axis=1)

def evr_outliers(x):
    if x['evr'] < evr_lq: return evr_lq
    elif x['evr'] > evr_uq: return evr_uq
    else: return x['evr']

z['evr'] = z.apply(evr_outliers, axis=1)

def cpi_outliers(x):
    if x['cpi'] < cpi_lq: return cpi_lq
    elif x['cpi'] > cpi_uq: return 94.465     # Returning median 
    else: return x['cpi']

z['cpi'] = z.apply(cpi_outliers, axis=1)

def cci_outliers(x):
    if x['cci'] < cci_lq: return cci_lq
    elif x['cci'] > cci_uq: return cci_uq
    else: return x['cci']

z['cci'] = z.apply(cci_outliers, axis=1)

def euribor_outliers(x):
    if x['euribor'] < euribor_lq: return euribor_lq
    elif x['euribor'] > euribor_uq: return euribor_uq # SHould I replace with mean-4.81; median-4.95 or max-5.04
    else: return x['euribor']

z['euribor'] = z.apply(euribor_outliers, axis=1)

def employees_outliers(x):
    if x['employees'] < employees_lq: return employees_lq
    elif x['employees'] > employees_uq: return employees_uq # What should I replace it with?
    # overall_mean - 5167, overall_median - 5191
    # outlier_mean - 5228, outlier_median - 5228
    # upper_bound (0.9 percentile) = 5228, lower_bound (0.1 percentile) - 4963
    else: return x['employees']

z['employees'] = z.apply(employees_outliers, axis=1)

In [33]:
duration_uq = int(z['duration'].quantile(0.95))
duration_lq = int(z['duration'].quantile(0.05))
duration_uq

756

In [32]:
z[z>duration_uq].head().transpose()

,0,1,2,3,4
age,NaN,NaN,NaN,NaN,NaN
job,admin.,management,admin.,admin.,entrepreneur
marital,single,married,married,divorced,single
education,professional.course,basic.9y,high.school,university.degree,university.degree
default,no,no,no,no,no
housing,yes,yes,yes,no,yes
personal,yes,no,no,yes,no
contact_type,cellular,cellular,cellular,cellular,telephone
month,apr,jul,apr,nov,may
day,fri,wed,wed,thu,tue
duration,NaN,NaN,NaN,NaN,NaN
dcontacts,NaN,NaN,NaN,NaN,NaN
pdays,999,999,999,999,999
pcontacts,NaN,NaN,NaN,NaN,NaN
poutcome,nonexistent,nonexistent,failure,nonexistent,nonexistent
evr,NaN,NaN,NaN,NaN,NaN
cpi,NaN,NaN,NaN,NaN,NaN
cci,NaN,NaN,NaN,NaN,NaN
euribor,NaN,NaN,NaN,NaN,NaN
employees,5099.1,5228.1,5099.1,5195.8,5191
y,no,no,no,no,no

In [34]:
z.head()

,age,job,marital,education,default,housing,personal,contact_type,month,day,...,dcontacts,pdays,pcontacts,poutcome,evr,cpi,cci,euribor,employees,y
0,41,admin.,single,professional.course,no,yes,yes,cellular,apr,fri,...,1,999,0,nonexistent,-1.8,93.075,-47.1,1.405,5099.1,no
1,55,management,married,basic.9y,no,yes,no,cellular,jul,wed,...,2,999,0,nonexistent,1.4,93.918,-42.7,4.963,5228.1,no
2,55,admin.,married,high.school,no,yes,no,cellular,apr,wed,...,3,999,1,failure,-1.8,93.075,-47.1,1.415,5099.1,no
3,36,admin.,divorced,university.degree,no,no,yes,cellular,nov,thu,...,2,999,0,nonexistent,-0.1,93.200,-42.0,4.076,5195.8,no
4,32,entrepreneur,single,university.degree,no,yes,no,telephone,may,tue,...,2,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no

In [58]:
z['duration'].head(6)

0     41
1    421
2    140
3     56
4    242
5      9
Name: duration, dtype: int64

In [48]:
print(duration_lq, duration_uq)

36 756

In [75]:
zz = z.copy(deep=True)

zz['dcontacts_uq'] = z['age'].clip_upper(dcontacts_uq)
zz['dcontacts_lq'] = z['age'].clip_upper(dcontacts_lq)

zz['pdays_lq'] = z['age'].clip_upper(pdays_lq)
zz['pdays_uq'] = z['age'].clip_upper(pdays_uq)

zz['pcontacts_lq'] = z['age'].clip_upper(pcontacts_lq)
zz['pcontacts_uq'] = z['age'].clip_upper(pcontacts_uq)

zz['evr_lq'] = z['age'].clip_upper(evr_lq)
zz['evr_uq'] = z['age'].clip_upper(evr_uq)

zz['cpi_lq'] = z['age'].clip_upper(cpi_lq)
zz['cpi_uq'] = z['age'].clip_upper(cpi_uq)

zz['cci_lq'] = z['age'].clip_upper(cci_lq)
zz['cci_uq'] = z['age'].clip_upper(cci_uq)

zz['euribor_lq'] = z['age'].clip_upper(euribor_lq)
zz['euribor_uq'] = z['age'].clip_upper(euribor_uq)

zz['employees_lq'] = z['age'].clip_upper(employees_lq)
zz['employees_uq'] = z['age'].clip_upper(employees_uq)

In [76]:
zz.head(6).transpose()

,0,1,2,3,4,5
age,41,55,55,36,32,27
job,admin.,management,admin.,admin.,entrepreneur,entrepreneur
marital,single,married,married,divorced,single,divorced
education,professional.course,basic.9y,high.school,university.degree,university.degree,university.degree
default,no,no,no,no,no,unknown
housing,yes,yes,yes,no,yes,no
personal,yes,no,no,yes,no,no
contact_type,cellular,cellular,cellular,cellular,telephone,telephone
month,apr,jul,apr,nov,may,may
day,fri,wed,wed,thu,tue,thu
duration,41,421,140,56,242,9
dcontacts,1,2,3,2,2,5
pdays,999,999,999,999,999,999
pcontacts,0,0,1,0,0,1
poutcome,nonexistent,nonexistent,failure,nonexistent,nonexistent,failure
evr,-1.8,1.4,-1.8,-0.1,1.1,-1.8
cpi,93.075,93.918,93.075,93.2,93.994,92.893
cci,-47.1,-42.7,-47.1,-42,-36.4,-46.2
euribor,1.405,4.963,1.415,4.076,4.857,1.266
employees,5099.1,5228.1,5099.1,5195.8,5191,5099.1
y,no,no,no,no,no,no
dcontacts_uq,14,14,14,14,14,14
dcontacts_lq,1,1,1,1,1,1
pdays_lq,3,3,3,3,3,3
pdays_uq,41,55,55,36,32,27
pcontacts_lq,0,0,0,0,0,0
pcontacts_uq,2,2,2,2,2,2
evr_lq,-3,-3,-3,-3,-3,-3
evr_uq,1,1,1,1,1,1
cpi_lq,41,55,55,36,32,27
cpi_uq,41,55,55,36,32,27
cci_lq,-49,-49,-49,-49,-49,-49
cci_uq,-26,-26,-26,-26,-26,-26
euribor_lq,0,0,0,0,0,0
euribor_uq,4,4,4,4,4,4
employees_lq,41,55,55,36,32,27
employees_uq,41,55,55,36,32,27

In [80]:
z.head(6).transpose()

,0,1,2,3,4,5
age,41,55,55,36,32,27
job,admin.,management,admin.,admin.,entrepreneur,entrepreneur
marital,single,married,married,divorced,single,divorced
education,professional.course,basic.9y,high.school,university.degree,university.degree,university.degree
default,no,no,no,no,no,unknown
housing,yes,yes,yes,no,yes,no
personal,yes,no,no,yes,no,no
contact_type,cellular,cellular,cellular,cellular,telephone,telephone
month,apr,jul,apr,nov,may,may
day,fri,wed,wed,thu,tue,thu
duration,41,421,140,56,242,36
dcontacts,1,2,3,2,2,5
pdays,999,999,999,999,999,999
pcontacts,0,0,1,0,0,1
poutcome,nonexistent,nonexistent,failure,nonexistent,nonexistent,failure
evr,-1.8,1,-1.8,-0.1,1,-1.8
cpi,93.075,93.918,93.075,93.2,93.994,92.893
cci,-47.1,-42.7,-47.1,-42,-36.4,-46.2
euribor,1.405,4,1.415,4,4,1.266
employees,5099.1,5228,5099.1,5195.8,5191,5099.1
y,no,no,no,no,no,no

In [87]:
z[z['dcontacts']<dcontacts_lq]

Empty DataFrame
Columns: [age, job, marital, education, default, housing, personal, contact_type, month, day, duration, dcontacts, pdays, pcontacts, poutcome, evr, cpi, cci, euribor, employees, y]
Index: []

[0 rows x 21 columns]

In [88]:
z[z['dcontacts']].hist(bins=20)

KeyError: '[1 2 3 ..., 1 2 4] not in index'

In [66]:
euribor_lq

0

In [67]:
euribor_uq

4

In [77]:
dcontacts_uq

14

In [78]:
dcontacts_lq

1